@import 'variable.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: $primary;
  text-decoration: blink;
}

.btn,
input,
select {
  cursor: pointer;
  background-color: white;
  border: 1px solid $light-light;
  color: $input-seconadry;

  * {
    color: $input-seconadry;
  }
}

.btn:hover,
input:hover {
  background-color: $light-light;
}

input {
  font-size: 16px;
}

input:focus {
  outline: none;
}
