@import 'variable.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
  text-decoration: blink;
}

.btn,
input,
select {
  cursor: pointer;
  background-color: white;
  border: 1px solid $light-light;
  color: $input-seconadry;

  * {
    color: $input-seconadry;
  }
}

.btn:hover,
input:hover {
  background-color: $light-light;
}

input {
  font-size: 16px;
}

input:focus {
  outline: none;
}
