$primary: #00498c;
$secondary: #424242;
$danger: #ff4747;
$warning: #ff9e36;

$light-primary: #0056a6;
$light-secondary: #6e6e6e;
$light-light: #dcdcdc;

$background: #e0e0e0;

$max-desktop-width: 1200px;
$max-table-width: 1020px;
$max-mobile-width: 670px;
